<h3><%= @game.title %></h3>
<h4><%= link_to "Add a Review to this game", new_game_game_reviews_path(@game) %></h4>

<p> Game description: <%= @game.description %> </p>
<p> Max Players: <%= @game.number_of_players%> </p>
<p> Category: <%= @game.category.name %> </p>

<%= link_to "Edit", edit_game_path(@game) %>

<%= link_to "Delete", game_path(@game), method: "delete" %>