<h3><%= @game.title %></h3>
<p>Add a Review to this game <%= link_to "here", new_game_game_reviews_path(@game) %></p>

<p> Game description: <%= @game.description %> </p>
<p> Max Players: <%= @game.number_of_players%> </p>
<p> Category: <%= @game.category.name %> </p>

<!-- <%= link_to "Edit", edit_game_path(@game) %> -->