<h3><%= @game.title %></h3>

<p> Game description: <%= @game.description %> </p>
<p> Max Players: <%= @game.number_of_players%> </p>

<%= link_to "Edit", edit_game_path(@game) %>

<%= link_to "Delete", game_path(@game), method: "delete" %>